.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c2c5ca;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}

.App-link {
  color: #61dafb;
}

.album-container {
  display: flex;
  flex-direction: row;   
  flex-wrap: row wrap;
}

.album-card {
  width: 120px;
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  font: normal 8px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  background: #0199d9;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}


.album-card:hover {
  border: 2px solid #01e63a;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
}